/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	font-size: 1em;
	line-height: 1.4;
	scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark){.darkmode{display:list-item}header{border-bottom:1px solid rgb(230, 230, 230)}.dropdown-item:active,.dropdown-item:focus,.dropdown-item:hover,body,header,html{color:rgb(230, 230, 230);background-color:#000 !important}img{border:thick solid #fff}button.btn-link,h2,h3,h4,header a,footer a{color:rgb(230, 230, 230)}#index a{color:#fff}a:hover{color:#3399FF}.dropdown-toggle{background-color:#fff}}
@media (prefers-color-scheme: light){.darkmode{display:none}header{background-color:#fff;border-bottom:1px solid #121733}body,html{color:#121733;background-color:#fff}img{border:thick solid #121733}a,h1,h2,h3,h4,h5{color:#121733}a:hover{color:#0057AD}button.btn-menu{color:#fff;background-color:#121733}button.btn-menu:hover{color:#fff;background-color:#0057AD}.dropdown-item:active,.dropdown-item:focus,.dropdown-item:hover{color:#fff;background-color:#121733 !important}}
body{margin-top:50px;font-size:20px;font-family:'Libre Baskerville', serif}img{border-radius:10px}a.underline,a:hover{text-decoration:underline}h3 > a,h4 > a{text-decoration:underline}h1,h2{margin-bottom:0.3rem;margin-top:0.3rem}.header,footer a,.header:hover,footer a:hover{text-decoration:none}.header-btn,.header-btn:focus,.header-btn:hover{text-decoration:none;align-self:flex-end;font-size:1.3rem;margin-bottom:7px}.profile-pic{display:block;margin-left:auto;margin-right:auto;}
@media (max-width: 429px){.logo-sm{display:none}}
@media (min-width: 430px){.logo-sm{display:inline-block}}
@media (max-width: 540px){.header{font-size:28px}.iframe-md,.image-md{width:340px;height:192px}.image-lg{width:340px}}
@media (min-width: 541px){.iframe-md,.image-md{width:560px;height:315px}.image-lg{width:800px}}.anchor{position:relative;top:-70px}hr{margin-top:2rem;margin-bottom:2rem}.hr-l{width:50%}.hr-r{width:50%;margin-left:50%}.hr-mid{width:50%;margin-left:25%}.scrolling-img{background-color:#000;background-size:cover;min-height:300px;overflow:hidden;background-attachment:fixed;position:relative;min-width:100vw;margin-left:50%;left:-50vw}.no-webp .mountains-img{background-image:url("/img/mountain-peaks-clouds-and-landscape.jpg")}.webp .mountains-img{background-image:url("/img/mountain-peaks-clouds-and-landscape.webp")}#gameCanvas{margin:0;padding:0;overflow:hidden}.dropdown{margin-bottom:0.5em;margin-top:0.5em}.dropdown > .dropdown-toggle{margin:0.3em}.dropdown > .menu{max-height:0;transition:max-height 0.2s ease-in;outline:none;overflow:hidden;background-color:white;position:absolute;right:0;bottom:auto;top:60px}.dropdown > .menu.show{max-height:20em;transition:max-height 0.3s ease-out;outline:1px black solid}.dropdown > .menu > .dropdown-item{margin:0.3em}

.fixed-img-size {
	width:200px;
	height:104px;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
@media (prefers-color-scheme: dark) {
	.darkmode {
		display: list-item
	}

	header {
		border-bottom: 1px solid rgb(230, 230, 230)
	}

	.dropdown-item:active,
	.dropdown-item:focus,
	.dropdown-item:hover,
	body,
	header,
	html {
		color: rgb(230, 230, 230);
		background-color: #000 !important
	}

	img {
		border: thick solid #fff
	}

	button.btn-link,
	h2,
	h3,
	h4,
	header a,
	footer a {
		color: rgb(230, 230, 230)
	}

	#index a {
		color: #fff
	}

	a:hover {
		color: #3399FF
	}

	.dropdown-toggle {
		background-color: #fff
	}
}

@media (prefers-color-scheme: light) {
	.darkmode {
		display: none
	}

	header {
		background-color: #fff;
		border-bottom: 1px solid #121733
	}

	body,
	html {
		color: #121733;
		background-color: #fff
	}

	img {
		border: thick solid #121733
	}

	a,
	h1,
	h2,
	h3,
	h4,
	h5 {
		color: #121733
	}

	a:hover {
		color: #0057AD
	}

	button.btn-menu {
		color: #fff;
		background-color: #121733
	}

	button.btn-menu:hover {
		color: #fff;
		background-color: #0057AD
	}

	.dropdown-item:active,
	.dropdown-item:focus,
	.dropdown-item:hover {
		color: #fff;
		background-color: #121733 !important
	}
}

body {
	margin-top: 50px;
	font-size: 20px;
	font-family: 'Libre Baskerville', serif
}

img {
	border-radius: 10px
}

a.underline,
a:hover {
	text-decoration: underline
}

h3>a,
h4>a {
	text-decoration: underline
}

h1,
h2 {
	margin-bottom: 0.3rem;
	margin-top: 0.3rem
}

.header,
footer a,
.header:hover,
footer a:hover {
	text-decoration: none
}

.header-btn,
.header-btn:focus,
.header-btn:hover {
	text-decoration: none;
	align-self: flex-end;
	font-size: 1.3rem;
	margin-bottom: 7px
}

.profile-pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 429px) {
	.logo-sm {
		display: none
	}
}

@media (min-width: 430px) {
	.logo-sm {
		display: inline-block
	}
}

@media (max-width: 540px) {
	.header {
		font-size: 28px
	}

	.iframe-md,
	.image-md {
		width: 340px;
		height: 192px
	}

	.image-lg {
		width: 340px
	}
}

@media (min-width: 541px) {

	.iframe-md,
	.image-md {
		width: 560px;
		height: 315px
	}

	.image-lg {
		width: 800px
	}
}

.anchor {
	position: relative;
	top: -70px
}

hr {
	margin-top: 2rem;
	margin-bottom: 2rem
}

.hr-l {
	width: 50%
}

.hr-r {
	width: 50%;
	margin-left: 50%
}

.hr-mid {
	width: 50%;
	margin-left: 25%
}

.scrolling-img {
	background-color: #000;
	background-size: cover;
	min-height: 300px;
	overflow: hidden;
	background-attachment: fixed;
	position: relative;
	min-width: 100vw;
	margin-left: 50%;
	left: -50vw
}

.no-webp .mountains-img {
	background-image: url("/img/mountain-peaks-clouds-and-landscape.jpg")
}

.webp .mountains-img {
	background-image: url("/img/mountain-peaks-clouds-and-landscape.webp")
}

#gameCanvas {
	margin: 0;
	padding: 0;
	overflow: hidden
}

.dropdown {
	margin-bottom: 0.5em;
	margin-top: 0.5em
}

.dropdown>.dropdown-toggle {
	margin: 0.3em
}

.dropdown>.menu {
	max-height: 0;
	transition: max-height 0.2s ease-in;
	outline: none;
	overflow: hidden;
	background-color: white;
	position: absolute;
	right: 0;
	bottom: auto;
	top: 60px
}

.dropdown>.menu.show {
	max-height: 20em;
	transition: max-height 0.3s ease-out;
	outline: 1px black solid
}

.dropdown>.menu>.dropdown-item {
	margin: 0.3em
}
*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		/* Black prints faster */
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
